@model ApplicationCore.Entities.Products.Category

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divToolbarId = "divtoolbar" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblBodyId = "tblBody" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divPrimaryId = "divPrimary" + pageId;
    var divDetailsId = "divDetails" + pageId;
}
<style>
    #bannerImage, #iconImage {
        height: 125px;
        width: 125px;
    }

</style>

<div class="d-flex flex-column-fluid container row col-sm-12 mt-3" id="@pageId">

    <div class="col-sm-8" id="@divPrimaryId">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">All Category Name</h3>
            </div>

            <div class="card-body">
                <table class="table table-bordered table-hover" id="@tblMasterId">
                    <caption>Category Setup Table</caption>
                    <thead>
                        <tr>
                            <th>SL</th>
                            <th>Name</th>
                            <th>Parent</th>
                            <th>Banner</th>
                            <th>Featured</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody id="@tblBodyId">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-sm-4" id="@divDetailsId">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title ">Add Category</h3>
            </div>
            <div class="card-body">
                <form class="form" id="@formId" novalidate="novalidate">
                    <input type="hidden" asp-for="CategoryId">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input type="text" class="form-control" placeholder="Enter Category Name" asp-for="Name">
                        <span class="error-message text-danger" id="categoryNameError"><b></b></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ParentId">Parent Category</label>
                        <select asp-for="ParentId" class="form-control">
                        </select>
                        <span class="error-message text-danger" id="parentIdError"><b></b></span>
                    </div> 

                    <div class="form-group">
                        <label for="name">Banner <small>(200x200)</small></label>
                        <div class="custom-file">
                            <label class="custom-file-label" asp-for="Banner">Banner Image</label>
                            <input type="file" asp-for="BannerImage" class="custom-file-input" />
                        </div>
                        <div class="file-preview box sm" id="imagePreview">
                            <img id="bannerImage" src="" alt="No Image">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Icon <small>(32x32)</small></label>
                        <div class="custom-file">
                            <label class="custom-file-label" asp-for="Icon">Icon Image</label>
                            <input type="file" asp-for="IconImage" class="custom-file-input" />
                        </div>
                        <div class="file-preview box sm" id="imagePreview">
                            <img id="iconImage" src="" alt="No Image">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaTitle">Meta Title</label>
                        <input type="text" class="form-control" placeholder="Enter Meta Title" asp-for="MetaTitle">
                    </div>
                    <div class="form-group">
                        <label asp-for="MetaDescription">Meta Description</label>
                        <textarea type="text" class="form-control" placeholder="Enter Meta Description" asp-for="MetaDescription"> </textarea>
                    </div>
                    <div class="card-footer float-right">
                        <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                        <button type="button" class="btn btn-success" id="btnSave">Save</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        function GetPageInformation () {
            return {
                pageName: "@ViewBag.PageName",
                menuId: "@ViewBag.MenuId",
            }
        }
    </script>
    <script src="~/application-scripts/product-setup/category.js"></script>
}
