

<style>
    input[type="checkbox"][id^="checkbox"] {
        display: none;
    }


    .image-modal-label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        .image-modal-label::before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        .image-modal-label img {
            height: 100px;
            width: 100px;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

    :checked + .image-modal-label {
        border-color: #ddd;
    }

        :checked + .image-modal-label::before {
            content: "✓";
            background-color: blue;
            transform: scale(1);
        }

        :checked + .image-modal-label img {
            transform: scale(0.9);
            box-shadow: 0 0 5px #333;
            z-index: -1;
        }
</style>

@{
    int serial = 0;
    <div class="row">
        @{
            foreach (var item in ViewBag.uploads)
            {
                ++serial;
                string findId = "checkbox" + serial.ToString();

                <div class="col-sm-2">
                    <input type="checkbox" class="imageUploader" imageSource="@item.FileName" uploadId="@item.UploadId" id="@findId" />
                    <label class="image-modal-label" for="@findId"><img src="@item.FileName" height="150" width="150" alt="No Image" /></label>
                </div>
            }
        }
    </div>
}


