@model ApplicationCore.Entities.Inventory.Payment
@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divToolbarId = "divtoolbar" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblBodyId = "tblBody" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divPrimaryId = "divPrimary" + pageId;
    var divDetailsId = "divDetails" + pageId;
}

<div class="d-flex flex-column-fluid container row col-sm-12" id="@pageId">



    <div class="col-sm-6" id="@divDetailsId">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title ">পেমেন্ট চেক সম্পন্ন</h3>
            </div>
            <div class="card-body">
                <form class="form" id="@formId" novalidate="novalidate">
                    <input type="hidden" asp-for="PaymentId">
                    <div class="row">
                        <div class="col-sm-3">
                            <label>ক্রমিক নং:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="SupplierCode" class="depositInfo"></label>

                        </div>
                        <div class="col-sm-3">
                            <label>দাতা ব্যাংক:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="BankName" class="depositInfo"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>পার্টির নাম:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="SupplierName" class="depositInfo"></label>
                        </div>
                        <div class="col-sm-3">
                            <label>প্রদানের তারিখ:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="PayDate" class="depositInfo"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label>ইনভয়েস নং:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="PayInvoiceNo" class="depositInfo"></label>
                        </div>
                        <div class="col-sm-3">
                            <label>চেকের তারিখ:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="ChequeDate" class="depositInfo"></label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label>চেক নম্বর:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="ChequeNo" class="depositInfo"></label>
                        </div>
                        <div class="col-sm-3">
                            <label>টাকার পরিমাণ:</label>
                        </div>
                        <div class="col-sm-3 no-padding">
                            <label for="PayAmount" class="depositInfo"></label>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-6">
                            <label>অনুমোদনের তারিখ:</label>
                            <div>
                                <input type="date" asp-for="ApproveDate" class="form-control input-sm " />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>অনুমোদনের অবস্থা:</label>
                            <div>
                                <select asp-for="ApproveState" class="form-control input-sm " single="true">
                                    <option value="pass">পাশ</option>
                                    <option value="fail">ফেল</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-12">
                            <label for="dipositeDate"><b>মন্তব্য: </b></label>
                            <div>
                                <textarea asp-for="ApproveRemarks" cols="90" rows="3" style="width:100%;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>

                    <div class="card-footer float-right">
                        <button type="button" class="btn btn-danger" id="btnCancel">Cancel</button>
                        <button type="button" class="btn btn-primary" id="btnSave">Save</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-6" id="@divPrimaryId">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>
            </div>

            <div class="card-body table-responsive">
                <table class="table table-bordered table-hover" id="@tblMasterId">
                    <thead>
                        <tr>
                            <th style='text-align: center;'>প্রদান নং</th>
                            <th style='text-align: center;'>পার্টির নাম</th>
                            <th style='text-align: center;'>চেক নং</th>
                            <th style='text-align: center;'>চেক গ্রহনের ধরন</th>
                            <th style='text-align: center;'>টাকার পরিমান</th>
                            <th style='text-align: center;'>অ্যাকশন</th>
                        </tr>
                    </thead>
                    <tbody id="@tblBodyId">
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>

@section scripts{

    <script>
        const GetPageInformation = function () {
            return {
                pageName: "@ViewBag.PageName",
                menuId: "@ViewBag.MenuId",
            }
        }
    </script>
    <script src="~/application-scripts/inventory/payment-finalized.js"></script>
}