@using Microsoft.AspNetCore.Http

@model ApplicationCore.Entities.ApplicationUser.User
@inject IHttpContextAccessor HttpContextAccessor

@{
    var pageId = ViewBag.PageName + "-" + ViewBag.MenuId;
    var divToolbarId = "divtoolbar" + pageId;
    var toolbarId = "toolbar" + pageId;
    var tblMasterId = "tbl" + pageId;
    var tblBodyId = "tblBody" + pageId;
    var tblChildId = "tblChild" + pageId;
    var formId = "form" + pageId;
    var divPrimaryId = "divPrimary" + pageId;
    var divDetailsId = "divDetails" + pageId;
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
}

<div class="d-flex flex-column-fluid mt-3 container row col-sm-12 mt-2" id="@pageId">

    <div class="col-sm-6" id="@divDetailsId">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title ">Change Password</h3>
            </div>
            <div class="card-body">
                <form class="form" id="@formId" novalidate="novalidate">
                    <input type="hidden" asp-for="Id" value="@userId">
                    <div class="form-group">
                        <label asp-for="Password">Current Password</label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                        <span class="Password text-danger dis-none">Password is required</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword">New Password</label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="NewPassword">
                        <span class="NewPassword text-danger dis-none">New Password is required</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword">
                        <span class="ConfirmPassword text-danger dis-none">ConfirmPassword is required</span>
                    </div>
                    <div class="card-footer float-right">
                        <button type="button" class="btn btn-primary" id="btnSave">Submit</button>

                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

@section scripts{

    <script>
        const GetPageInformation = function () {
            return {
                pageName: "@ViewBag.PageName",
                menuId: "@ViewBag.MenuId",
            }
        }
    </script>
    <script src="~/application-scripts/administration/change-password.js"></script>
}